<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posto Saúde</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
		function alterarBairro(id) {
			
			console.log(id);
			
    		var novo_nome = prompt("Digite o novo nome do bairro:");
    		if (novo_nome == null || novo_nome == "") {
				return;
			}
    		
    		var form = document.createElement("form");
    		form.setAttribute("method", "post");
    		form.setAttribute("action", "/alterarBairro");
    		
    		var hiddenField = document.createElement("input");
    		hiddenField.setAttribute("type", "hidden");
    		hiddenField.setAttribute("name", "id");
    		hiddenField.setAttribute("value", id.value);
    		
    		var hiddenField2 = document.createElement("input");
    		hiddenField2.setAttribute("type", "hidden");
    		hiddenField2.setAttribute("name", "nome");
    		hiddenField2.setAttribute("value", novo_nome);
    		
    		form.appendChild(hiddenField);
    		form.appendChild(hiddenField2);
    		
    		document.body.appendChild(form);
    		form.submit();
      }
    
    	
    </script>
    
</head>
<body class="bg-gray-800 p-2">

	<nav class="bg-white dark:bg-gray-800 p-2">
		<a href="/">
		<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Inicio</button>
		</a>
		<a href="/pacientes">
		<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Pacientes</button>
		</a>
		<a href="/medicos">
		<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Médicos</button>
		</a>
		<a href="/consultas">
		<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Consultas</button>
		</a>
		
	   	<a href="/bairros">
	   	<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Bairros</button>
	    </a>          
	</nav>
	
		<div class="flex flex-col items-center">
			<h1 class="text-3xl font-bold text-white mb-2">Bairros</h1>
			<table class="table-auto w-1/3">
				<thead>
					<tr>
						<th class="px-4 py-2 text-white">Nome</th>
						<th class="px-4 py-2 text-white">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bairro : ${bairros}">
						<td class="border px-4 py-2 text-white" th:text="${bairro.nome}">Nome</td>
						<td class="border px-4 py-2 flex justify-center space-x-3">
								
							<button type="button"
                            	class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                th:value="${bairro.id}" onclick="alterarBairro(this)">Alterar
                            </button>
							
							<form method="post" action="/removerBairro" class="inline">
                                <input type="hidden" name="id" th:value="${bairro.id}">
                                <button type="submit"
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Remover
                                </button>
                            </form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="flex flex-col items-center mt-4">
			<h1 class="text-3xl font-bold text-white">Inserir Bairro</h1>
			<form class="w-1/3" method="post" action="/inserirBairro">
				<div class="mb-4">
					<label for="nome" class="block text-white text-sm font-bold mb-2">Nome:</label>
					<input type="text" id="nome" name="nome"
						class="shadow appearance-none border rounded w-full py-2 px-3 text-white bg-gray-700 leading-tight focus:outline-none focus:shadow-outline">
				</div>
				<button type="submit"
					class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Inserir</button>
			</form>
		</div>
</body>
</html>