<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posto Saúde</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script>
    </script>
</head>
<body class="bg-gray-800 p-2">

	<nav class="bg-white dark:bg-gray-800 p-2">
		<a href="/">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Inicio</button>
		</a>
		<a href="/pacientes">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Pacientes</button>
		</a>
		<a href="/medicos">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Médicos</button>
		</a>
		<a href="/consultas">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Consultas</button>
		</a>
	
		<a href="/bairros">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Bairros</button>
		</a>
	</nav>
	
	<div class="flex flex-col items-center">
		<h1 class="text-3xl font-bold text-red-500">Erro ao inserir paciente</h1>
		
		<table class="table-auto w-1/4 items-center">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-white text-2xl">Causas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="erro : ${erros}" class="bg-gray-600 items-end">
                    <td class="border px-4 py-2 text-white" th:text="${erro}">Causas</td>
                </tr>
            </tbody>
		</table>
		
		<a href="/pacientes">
			<button class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Voltar</button>
		</a>
		
		</div>

</body>
</html>